:deep(.el-form-item__label){
    padding: 0px !important;
}
:deep(.el-select .el-select__tags){
    overflow: hidden;
}
:deep(.el-select__tags-text){
    max-width: 55px !important;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
:deep(.el-tag){
    display: flex;
    align-items: center;
    span {
        max-width: 55px !important;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: auto !important;
    }
}
:deep(.el-input__inner){
    height: 28px !important;
    line-height: 28px !important;
}
:deep(.el-cascader__search-input){
    min-width: 0px !important;
}
.unit {
    display: inline-block;
    line-height: 28px;
    padding-left: 4px;
}
